<div class="row">
  <div class="col s12 l10 offset-l1">
    <div class="card-panel">
      <h4 style="margin: 0;">Post some content</h4>
      <blockquote style="border-left: 5px solid #9575cd">
        Enter your name and whatever's on your mind. Whatever you post online will be available for anyone to view!
      </blockquote>
    </div>
  </div>
</div>

<%= form_for :post, url: posts_path do |f| %>

<% if @post.errors.any? %>
<div class="row">
  <div class="col s12 l10 offset-l1">
    <ul class="collection">
      <% @post.errors.full_messages.each do |msg| %>
      <li class="collection-item">
        <div>
          <%= msg %><a class="secondary-content"><i class="material-icons icon-red">warning</i></a></div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="row">
  <div class="input-field col s12">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
</div>

<%= f.submit({:class => ' btn deep-purple lighten-2 right '}) %>

<% end %>